{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block extraMeta %}
<link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block content %}
<h1 class="contentHeader">My Story</h1>
<table cellspacing=0 class="aboutTable">
    <tr>
        <td>
            <p class="smallHeader">Who I am</p>
            <p>I am Seamus: a programmer, game developer and college student.</p>
            <p>I loved video games growing up and I pondered improvements the developers could make.</p>
            <p>Eventually, my interest in video games has made me want to create my own.</p>
            <p>A kid gets typecasted to programmer.</p>
        </td>
        <td>
            <p class="smallHeader">Starting From Scratch</p>
            <p>I started learning to code with a website called <a href="scratch.mit.edu">scratch.</a></p>
            <p>This website let me experiment with visual based block programming environment.</p>
            <p>The lack of syntax memorization and pure logic helped teach me the basics of programming.</p>
        </td>
        <td>
            <p class="smallHeader">Python</p>
            <p>I was introduced to Python in middle school by a friend of mine.</p>
            <p>Python let me create basic console applications and experiment with functions and variables in a code environment</p>
            <p>Eventually I learned pygame, a library allowing me to make full graphical games; This taught me about basic game physics.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="smallHeader">Game Making With Game Maker</p>
            <p>During the time I was learning python, my brother introduced me to Game Maker: Studio (version 1.4) and much later Game Maker Studio 2</p>
            <p>This engine let me create many 2D sprite-based games and was very helpful for learning game specific math and physics.</p>
            <p>Eventually I grew to not like it as much due to how bigger projects handle with it.</p>
        </td>
        <td>
            <p class="smallHeader">JavaScripting</p>
            <p>When I started high school I also started learning JavaScript.</p>
            <p>Using a library called <a href="https://p5js.org">p5.js</a>.</p>
            <p>This let me code games that run natively on the browser.</p>
        </td>
        <td>
            <p class="smallHeader">Cup of Java</p>
            <p>I started learning Java when I started interacting with the Splatcraft community.</p>
            <p>This new experience really got me into Minecraft Modding and following that: Java.</p>
            <p>I still do not know much about forge (the Minecraft mod loader) but I have learned way more about Java since then.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="smallHeader">Splatcraft</p>
            <p>I am a developer for the <a href="https://splatcraft.net">Splatcraft</a> Minecraft mod</p>
            <p>My help with the mod is mostly game design and Math with some code contributions.</p>
            <p>I am extremely grateful for the community and friends I have gained from Splatcraft.</p>
            <p>Big thank you to Cibernet, the original creator of the mod and main developer, for bringing this community together with his awesome work.</p>
        </td>
        <td>
            <p class="smallHeader">C++</p>
            <p>I started learning C++ right before my 2025 spring semester of college; It is also a class I am taking in this semester</p>
            <p>It has taught me a lot about lower level programming and it's nice to work with compiled builds rather than byte code</p>
            <p>The library of choice for graphics so far has been raylib, which was written for C but has support for C++.</p>
        </td>
        <td>
            <p class="smallHeader">Thanks for reading!</p>
        </td>
    </tr>
</table>
{% endblock %}
