<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} | §eamus' Code Zone</title>
        <meta charset="UTF-8">
        <meta name="description" content="The story and projects of Seamus Donahue">
        <meta name="author" content="Seamus Donahue">
        <link rel="stylesheet" href="/css/main.css">
        {% block extraMeta %}{% endblock %}
    </head>
    <body>
        <div class="navbar">
            <a href="/"><img src="/img/pfp.png">Home</a>|
            <a href="/about">about</a>|
            <a href="/projects">projects</a>|
            <a href="/art">art</a>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
