{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extraMeta %}
<link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block content %}
<h1 class="contentHeader">§eamus' Code Zone</h1>
<p>
    Welcome to my website.
    I am Seamus Donahue, Game Designer and programmer. See my about page to learn more about me.
    Feel free to check out the <a href="./projects">projects</a> page to see some of my work.
    Check out my art page if you want to see some pixel art I created for fun.<br>
    I code mainly using Python, Javascript, and Java; However I am working on learning C++.<br>
    Don't forget to check the links below if you are interested. Thank you for visiting.
</p>
<h1 class="contentHeader">Links</h1>
<a href="https://github.com/seamuskills" class="specialLink">GitHub</a> <br>
<a href="https://seamuskills.itch.io" class="specialLink">Itch.io</a> <br>
<a href="https://x.com/seamuskills" class="specialLink">Twitter(x)</a> <br>
<a href="https://steamcommunity.com/id/seamuskills" class="specialLink">Steam</a> <br>
<a href="https://youtube.com/@seamuskills" class="specialLink">YouTube</a> <br>
<a href="mailto:contact@seamuskills.com" class="specialLink">Email</a><br>
{% endblock %}
