{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extraMeta %}
<link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block content %}
<h1 class="contentHeader">Seamus' Code Zone</h1>
<div id="welcomediv">
    <img src="img/seainkfull.jpg" id="bigprofileimg" title="Art by @AsadaGarden"></img>
    <p id="welcome">
        Welcome to my corner of the internet!<br>
        I'm Seamus, a programmer and game designer.<br>
        I grew up playing a variety of games, and decided I wanted to make them, so here I am putting my logical and mathematical skills to work.<br>
        Learn more about me in the <a href="/about">about</a> page.<br>
        In the <a href="/projects">projects</a> page I have some finished code projects of mine!<br>
        I also have some <a href="/art">art</a> to check out if you'd like.<br>
    </p>
</div>
<h1 class="contentHeader">Links</h1>
<div class="linksContainer">
    <a href="https://github.com/seamuskills" class="specialLink"><img src="img/icons/gh.svg"></a>
    <a href="https://x.com/seamuskills" class="specialLink"><img src="img/icons/x.svg"></a>
    <a href="https://steamcommunity.com/id/seamuskills" class="specialLink"><img src="img/icons/steam.svg"></a>
    <a href="https://youtube.com/@seamuskills" class="specialLink"><img src="img/icons/yt.svg"></a>
    <a href="mailto:contact@seamuskills.com" class="specialLink"><img src="img/icons/email.svg"></a>
</div>
{% endblock %}
