.specialLink{
    display:inline-block;
    background: linear-gradient(to right,dodgerblue 50%, royalblue);
    margin:1vw;
    padding:0.2em;
    transform: skew(-15deg);
}

.specialLink img{
    width: 10vw;
    height: 10vw;
}

.linksContainer{
    align-content: center;
    text-align: center;
}
