
@font-face{
    font-family: "Akira";
    src: url("../font/Akira.otf") format("opentype");
}

@font-face{
    font-family: "Russo";
    src: url("../font/Russo_One.ttf") format("truetype");
}

html{
    background: linear-gradient(0deg, #33a, #7777ee);
    min-height:100%;
}

body{
    border-radius:1em;
    margin:2.5em;
    background-color: #ededed;
    color: #303030;
    padding: 0.75em;
    font-family: Russo, sans-serif;
}

p{
    font-size: 24px;
    text-align: center;
}

.navbar{
    display:inline-block;
    padding:0.1em;
    background-color: #D11A23;
    font-size: 2vw;
    color: #ffffff;
    transform: skew(-10deg);
}

/* Try to make the topbar a reasonable size on mobile. */
@media screen and (max-width: 600px) {
    .navbar {
        font-size: 5vw;
    }
}

.navbar img{
    display:inline;
    max-height: 1em;
    padding:0.1em;
    vertical-align: middle;
    border-radius:100em;
}

.navbar a{
    color: #fff;
    text-decoration: none;
}

.contentHeader{
    background-color: #3a3;
    margin-left:0;
    margin-right:0;
    color:#e0e0e0;
    width:100%;
    text-align:center;
    font-style:italic;
    font-size:xx-large;
    line-height: 3em;
    font-family: Akira, sans-serif;
}

a{
    color: #144B90;
    text-decoration: none;
}
